<!-- Clayton Rapiejko 301091341 2021-05-30 Assignment 1 COMP229 Portfolio -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <link rel='stylesheet' href='/bootstrap/dist/css/bootstrap.min.css' />
  <link rel='stylesheet' href='/@fortawesome/fontawesome-free/css/all.min.css' />
  <link rel='stylesheet' href='/Content/app.css' />

</head>
<body>

 <%- include('partials/homenavigation.ejs'); -%>



 
    <% if (title == "Login") { %>
      <%- include auth/login.ejs%>
    <% } %>
    <% if (title == "Home") { %>
      <%- include partials/home_content.ejs%>
    <% } %>
    <% if (title == "About") { %>
      <%- include partials/about_content.ejs%>
    <% } %>
    <% if (title == "Projects") { %>
      <%- include partials/projects_content.ejs%>
    <% } %>
    <% if (title == "Services") { %>
      <%- include partials/services_content.ejs%>
    <% } %>
    <% if (title == "Contact") { %>
      <%- include partials/contact_content.ejs%>
    <% } %>


  <h1>Clayton Rapiejko</h1>

<br>
<br>
<br>
<br>
<br>
<br>
 <h3>"Do your little bit of good where you are; it's those little bits of good put together that overwhelm the world"</h3>
 <h3>-Desmond Tutu</h3>
 <br>
<br>

  <nav class="navbar fixed-bottom navbar-light bg-light">
    <div class="container-fluid">
     <h4>&copy; Copyright 2021. Clayton Rapiejko 301091341 Assignment 1 COMP229</h4>
    </div>
  </nav>

   
<img src="Assets/images/logo2.png" alt="clayton" width="170" height="175" class="center">

<script src="/jquery/dist/jquery.min.js"></script>
<script src="/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/Scripts/app.js"></script>

</body>
</html>
